{% extends 'base.html.twig' %}

{% block title %}BasketballPlanning index{% endblock %}

{% block body %}
    <h1>BasketballPlanning index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Day</th>
                <th>Time</th>
                <th>Lieu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for basketball_planning in basketball_plannings %}
            <tr>
                <td>{{ basketball_planning.id }}</td>
                <td>{{ basketball_planning.day }}</td>
                <td>{{ basketball_planning.time }}</td>
                <td>{{ basketball_planning.lieu }}</td>
                <td>
                    <a href="{{ path('basketball_planning_show', {'id': basketball_planning.id}) }}">show</a>
                    <a href="{{ path('basketball_planning_edit', {'id': basketball_planning.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('basketball_planning_new') }}">Create new</a>
{% endblock %}
