{% extends 'asf/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ '/styles/contact.css' }}" rel="stylesheet">
    <link href="{{ '/styles/footer.css' }}" rel="stylesheet">
    <link href="{{ '/styles/nav.css' }}" rel="stylesheet">
    <link href="{{ '/styles/navAsf.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Contact{% endblock %}

{% block main %}
    <h1 class="title">Contact</h1>
    <div class="wrapper">
        {{ form_start(form) }}
        <div class="contact-form">
            {{ form_widget(form) }}
            <h4>* Champs Obligatoires</h4>
            <button class="btn">{{ button_label|default('Envoyer') }}</button>
        </div>
        {{ form_end(form) }}
        <div class="contact">
            <a><img src="../images/logo-telephone.jpg" alt="téléphone" height="100" width="100"> 02 47 49 93 53 </a>
            <a><img src="../images/logo-adresse.jpg" alt="adresse" height="100" width="100">
                Allée de la Poupardière 3230 Fondettes </a>
        </div>
    </div>
    <h1>Horaire d'ouverture/fermeture</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Jours</th>
            <th>Horaire matin</th>
            <th>Horaire après-midi</th>
        </tr>
        </thead>
        <tbody>
        {% for contact_horaire in contact_horaires %}
        <tr>
            <td>{{ contact_horaire.day }}</td>
            <td>{{ contact_horaire.morningHours }}</td>
            <td>{{ contact_horaire.afternoonHours }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
