{% extends 'home/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ '/styles/carousel.css' }}" rel="stylesheet">
    <link href="{{ '/styles/footer.css' }}" rel="stylesheet">
    <link href="{{ '/styles/nav.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <h1>Les dernières actualités</h1>

    <div class="actuality">
        {% for actuality in actualitys %}
            <div class="container_actuality">
                <div class="actualities">
                    <div class="actuality_titre">{{ actuality.titre }}</div>
                    <div class="actuality_date">{{ actuality.date }}</div>
                    <div class="actuality_text">{{ actuality.description }}</div>
                </div>
                <div class="actuality_image">
                    {% if actuality.image == true %}
                        <img src="/uploads/actuality/{{ actuality.image }}">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="carousel">
        <div class="home">
            <div class="home-carousel-history">
                <figure>
                    {% set history = [carousel_histories[0].image1, carousel_histories[0].image2, carousel_histories[0].image3] %}

                    {% if carousel_histories is not empty and carousel_histories[0].image1 %}
                        {% if carousel_histories[0].image1 == true %}
                            <img src="/uploads/carousel/history/{{ carousel_histories[0].image1 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_histories is not empty and carousel_histories[0].image2 %}
                        {% if carousel_histories[0].image2 == true %}
                            <img src="/uploads/carousel/history/{{ carousel_histories[0].image2 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_histories is not empty and carousel_histories[0].image3 %}
                        {% if carousel_histories[0].image3 == true %}
                            <img src="/uploads/carousel/history/{{ carousel_histories[0].image3 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_histories is not empty and carousel_histories[0].image4 %}
                        {% if carousel_histories[0].image4 == true %}
                            <img src="/uploads/carousel/history/{{ carousel_histories[0].image4 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/history/{{ random(history) }}">
                    {% endif %}
                    {% if carousel_histories is not empty and carousel_histories[0].image5 %}
                        {% if carousel_histories[0].image5 == true %}
                            <img src="/uploads/carousel/history/{{ carousel_histories[0].image5 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/history/{{ random(history) }}">
                    {% endif %}
                    {% if carousel_histories is not empty and carousel_histories[0].image6 %}
                        {% if carousel_histories[0].image6 == true %}
                            <img src="/uploads/carousel/history/{{ carousel_histories[0].image6 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/history/{{ random(history) }}">
                    {% endif %}
                    {% if carousel_histories is not empty and carousel_histories[0].image1 %}
                        {% if carousel_histories[0].image1 == true %}
                            <img src="/uploads/carousel/history/{{ carousel_histories[0].image1 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_histories is not empty and carousel_histories[0].image2 %}
                        {% if carousel_histories[0].image2 == true %}
                            <img src="/uploads/carousel/history/{{ carousel_histories[0].image2 }}">
                        {% endif %}
                    {% endif %}
                </figure>
            </div>
        </div>
        <div class="container">
            <div class="text-1">
                <a href="{{ path('asf') }}">Pour en savoir plus sur l'histoire de l'ASF...</a>
            </div>
        </div>
    </div>

    <div class="carousel">
        <div class="home">
            <div class="home-carousel-section">
                <figure>
                    {% set section = [
                        carousel_sections[0].image1, carousel_sections[0].image2, carousel_sections[0].image3,
                        carousel_sections[0].image4, carousel_sections[0].image5, carousel_sections[0].image6,
                        carousel_sections[0].image7, carousel_sections[0].image8, carousel_sections[0].image9,
                        carousel_sections[0].image10, carousel_sections[0].image11, carousel_sections[0].image12,
                        carousel_sections[0].image13] %}

                    {% if carousel_sections is not empty and carousel_sections[0].image1 %}
                        {% if carousel_sections[0].image1 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image1 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image2 %}
                        {% if carousel_sections[0].image2 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image2 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image3 %}
                        {% if carousel_sections[0].image3 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image3 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image4 %}
                        {% if carousel_sections[0].image4 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image4 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image5 %}
                        {% if carousel_sections[0].image5 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image5 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image6 %}
                        {% if carousel_sections[0].image6 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image6 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image7 %}
                        {% if carousel_sections[0].image7 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image7 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image8 %}
                        {% if carousel_sections[0].image8 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image8 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image9 %}
                        {% if carousel_sections[0].image9 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image9 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image10 %}
                        {% if carousel_sections[0].image10 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image10 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image11 %}
                        {% if carousel_sections[0].image11 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image11 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image12 %}
                        {% if carousel_sections[0].image12 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image12 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image13 %}
                        {% if carousel_sections[0].image13 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image13 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image14 %}
                        {% if carousel_sections[0].image14 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image14 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/section/{{ random(section) }}">
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image15 %}
                        {% if carousel_sections[0].image15 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image15 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/section/{{ random(section) }}">
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image16 %}
                        {% if carousel_sections[0].image16 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image16 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/section/{{ random(section) }}">
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image17 %}
                        {% if carousel_sections[0].image17 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image17 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/section/{{ random(section) }}">
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image18 %}
                        {% if carousel_sections[0].image18 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image18 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/section/{{ random(section) }}">
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image19 %}
                        {% if carousel_sections[0].image19 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image19 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/section/{{ random(section) }}">
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image20 %}
                        {% if carousel_sections[0].image20 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image20 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/section/{{ random(section) }}">
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image1 %}
                        {% if carousel_sections[0].image1 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image1 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_sections is not empty and carousel_sections[0].image2 %}
                        {% if carousel_sections[0].image2 == true %}
                            <img src="/uploads/carousel/section/{{ carousel_sections[0].image2 }}">
                        {% endif %}
                    {% endif %}
                </figure>
            </div>
        </div>
        <div class="container">
            <div class="text-2">
                <a href="{{ path('home_section') }}">Pour en savoir plus sur les sections de l'ASF...</a>
            </div>
        </div>
    </div>

    <div class="carousel">
        <div class="home">
            <div class="home-carousel-partenaire">
                <figure>
                    {% set partenaire = [
                        carousel_partenaires[0].image1, carousel_partenaires[0].image2, carousel_partenaires[0].image3,
                        carousel_partenaires[0].image4, carousel_partenaires[0].image5, carousel_partenaires[0].image6,
                        carousel_partenaires[0].image7, carousel_partenaires[0].image8, carousel_partenaires[0].image9,
                        carousel_partenaires[0].image10, carousel_partenaires[0].image11, carousel_partenaires[0].image12,
                        carousel_partenaires[0].image13, carousel_partenaires[0].image14, carousel_partenaires[0].image15,
                        carousel_partenaires[0].image16, carousel_partenaires[0].image17] %}

                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image1 %}
                        {% if carousel_partenaires[0].image1 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image1 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image2 %}
                        {% if carousel_partenaires[0].image2 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image2 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image3 %}
                        {% if carousel_partenaires[0].image3 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image3 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image4 %}
                        {% if carousel_partenaires[0].image4 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image4 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image5 %}
                        {% if carousel_partenaires[0].image5 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image5 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image6 %}
                        {% if carousel_partenaires[0].image6 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image6 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image7 %}
                        {% if carousel_partenaires[0].image7 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image7 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image8 %}
                        {% if carousel_partenaires[0].image8 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image8 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image9 %}
                        {% if carousel_partenaires[0].image9 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image9 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image10 %}
                        {% if carousel_partenaires[0].image10 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image10 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image11 %}
                        {% if carousel_partenaires[0].image11 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image11 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image12 %}
                        {% if carousel_partenaires[0].image12 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image12 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image13 %}
                        {% if carousel_partenaires[0].image13 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image13 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image14 %}
                        {% if carousel_partenaires[0].image14 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image14 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image15 %}
                        {% if carousel_partenaires[0].image15 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image15 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image16 %}
                        {% if carousel_partenaires[0].image16 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image16 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image17 %}
                        {% if carousel_partenaires[0].image17 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image17 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image18 %}
                        {% if carousel_partenaires[0].image18 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image18 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image19 %}
                        {% if carousel_partenaires[0].image19 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image19 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image20 %}
                        {% if carousel_partenaires[0].image20 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image20 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image21 %}
                        {% if carousel_partenaires[0].image21 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image21 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image22 %}
                        {% if carousel_partenaires[0].image22 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image22 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image23 %}
                        {% if carousel_partenaires[0].image23 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image23 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image24 %}
                        {% if carousel_partenaires[0].image24 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image24 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image25 %}
                        {% if carousel_partenaires[0].image25 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image25 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image26 %}
                        {% if carousel_partenaires[0].image26 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image26 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image27 %}
                        {% if carousel_partenaires[0].image27 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image27 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image28 %}
                        {% if carousel_partenaires[0].image28 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image28 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image29 %}
                        {% if carousel_partenaires[0].image29 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image29 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image30 %}
                        {% if carousel_partenaires[0].image30 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image30 }}">
                        {% endif %}
                    {% else %}
                        <img src="/uploads/carousel/partenaire/{{ random(partenaire) }}">
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image1 %}
                        {% if carousel_partenaires[0].image1 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image1 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image2 %}
                        {% if carousel_partenaires[0].image2 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image2 }}">
                        {% endif %}
                    {% endif %}
                    {% if carousel_partenaires is not empty and carousel_partenaires[0].image3 %}
                        {% if carousel_partenaires[0].image3 == true %}
                            <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image3 }}">
                        {% endif %}
                    {% endif %}
                </figure>
            </div>
        </div>
        <div class="container">
            <div class="text-3">
                <a href="{{ path('partenaire') }}">Pour en savoir plus sur les partenaires de l'ASF...</a>
            </div>
        </div>
    </div>
{% endblock %}
