{% extends 'home/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ 'styles/carousel.css' }}" rel="stylesheet">
    <link href="{{ 'styles/footer.css' }}" rel="stylesheet">
    <link href="{{ 'styles/nav.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <div class="actuality">
        <h1>Les dernières actualités</h1>
        <p>Vous retrouverez ici les dernières Actualités</p>
    </div>
    <div class="carousel">
        <div class="home-carousel-history">
            {% if carousel_histories is not empty and carousel_histories[0].image1 %}
                {% if carousel_histories[0].image1 == true %}
                    <img src="/uploads/carousel/history/{{ carousel_histories[0].image1 }}">
                {% endif %}
            {% endif %}
            {% if carousel_histories is not empty and carousel_histories[0].image2 %}
                {% if carousel_histories[0].image2 == true %}
                    <img src="/uploads/carousel/history/{{ carousel_histories[0].image2 }}">
                {% endif %}
            {% endif %}
            {% if carousel_histories is not empty and carousel_histories[0].image3 %}
                {% if carousel_histories[0].image3 == true %}
                    <img src="/uploads/carousel/history/{{ carousel_histories[0].image3 }}">
                {% endif %}
            {% endif %}
            {% if carousel_histories is not empty and carousel_histories[0].image4 %}
                {% if carousel_histories[0].image4 == true %}
                    <img src="/uploads/carousel/history/{{ carousel_histories[0].image4 }}">
                {% endif %}
            {% endif %}
            {% if carousel_histories is not empty and carousel_histories[0].image5 %}
                {% if carousel_histories[0].image5 == true %}
                    <img src="/uploads/carousel/history/{{ carousel_histories[0].image5 }}">
                {% endif %}
            {% endif %}
            {% if carousel_histories is not empty and carousel_histories[0].image1 %}
                {% if carousel_histories[0].image1 == true %}
                    <img src="/uploads/carousel/history/{{ carousel_histories[0].image1 }}">
                {% endif %}
            {% endif %}
        </div>
        <div class="home-carousel-section">
            {% if carousel_sections is not empty and carousel_sections[0].image1 %}
                {% if carousel_sections[0].image1 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image1 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image2 %}
                {% if carousel_sections[0].image2 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image2 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image3 %}
                {% if carousel_sections[0].image3 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image3 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image4 %}
                {% if carousel_sections[0].image4 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image4 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image5 %}
                {% if carousel_sections[0].image5 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image5 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image6 %}
                {% if carousel_sections[0].image6 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image6 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image7 %}
                {% if carousel_sections[0].image7 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image7 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image8 %}
                {% if carousel_sections[0].image8 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image8 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image9 %}
                {% if carousel_sections[0].image9 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image9 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image10 %}
                {% if carousel_sections[0].image10 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image10 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image11 %}
                {% if carousel_sections[0].image11 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image11 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image12 %}
                {% if carousel_sections[0].image12 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image12 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image13 %}
                {% if carousel_sections[0].image13 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image13 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image14 %}
                {% if carousel_sections[0].image14 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image14 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image15 %}
                {% if carousel_sections[0].image15 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image15 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image16 %}
                {% if carousel_sections[0].image16 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image16 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image17 %}
                {% if carousel_sections[0].image17 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image17 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image18 %}
                {% if carousel_sections[0].image18 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image18 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image19 %}
                {% if carousel_sections[0].image19 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image19 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image20 %}
                {% if carousel_sections[0].image20 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image20 }}">
                {% endif %}
            {% endif %}
            {% if carousel_sections is not empty and carousel_sections[0].image1 %}
                {% if carousel_sections[0].image1 == true %}
                    <img src="/uploads/carousel/section/{{ carousel_sections[0].image1 }}">
                {% endif %}
            {% endif %}
        </div>
        <div class="home-carousel-partenaire">
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image1 %}
                {% if carousel_partenaires[0].image1 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image1 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image2 %}
                {% if carousel_partenaires[0].image2 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image2 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image3 %}
                {% if carousel_partenaires[0].image3 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image3 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image4 %}
                {% if carousel_partenaires[0].image4 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image4 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image5 %}
                {% if carousel_partenaires[0].image5 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image5 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image6 %}
                {% if carousel_partenaires[0].image6 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image6 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image7 %}
                {% if carousel_partenaires[0].image7 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image7 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image8 %}
                {% if carousel_partenaires[0].image8 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image8 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image9 %}
                {% if carousel_partenaires[0].image9 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image9 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image10 %}
                {% if carousel_partenaires[0].image10 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image10 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image11 %}
                {% if carousel_partenaires[0].image11 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image11 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image12 %}
                {% if carousel_partenaires[0].image12 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image12 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image13 %}
                {% if carousel_partenaires[0].image13 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image13 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image14 %}
                {% if carousel_partenaires[0].image14 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image14 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image15 %}
                {% if carousel_partenaires[0].image15 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image15 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image16 %}
                {% if carousel_partenaires[0].image16 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image16 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image17 %}
                {% if carousel_partenaires[0].image17 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image17 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image18 %}
                {% if carousel_partenaires[0].image18 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image18 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image19 %}
                {% if carousel_partenaires[0].image19 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image19 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image20 %}
                {% if carousel_partenaires[0].image20 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image20 }}">
                {% endif %}
            {% endif %}
            {% if carousel_partenaires is not empty and carousel_partenaires[0].image1 %}
                {% if carousel_partenaires[0].image1 == true %}
                    <img src="/uploads/carousel/partenaire/{{ carousel_partenaires[0].image1 }}">
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
