{% extends 'base.html.twig' %}

{% block title %}SectionSport index{% endblock %}

{% block body %}
    <h1>SectionSport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description1</th>
                <th>Description2</th>
                <th>Description3</th>
                <th>Image</th>
                <th>Lien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section_sport in section_sports %}
            <tr>
                <td>{{ section_sport.id }}</td>
                <td>{{ section_sport.description1 }}</td>
                <td>{{ section_sport.description2 }}</td>
                <td>{{ section_sport.description3 }}</td>
                <td>{{ section_sport.image }}</td>
                <td>{{ section_sport.lien }}</td>
                <td>
                    <a href="{{ path('section_sport_show', {'id': section_sport.id}) }}">show</a>
                    <a href="{{ path('section_sport_edit', {'id': section_sport.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('section_sport_new') }}">Create new</a>
{% endblock %}
