{% extends 'base.html.twig' %}

{% block title %}VerticalHistory{% endblock %}

{% block body %}
    <h1>VerticalHistory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vertical_history.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ vertical_history.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ vertical_history.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ vertical_history.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_verticalHistory') }}">Retour à la liste</a>

    <a href="{{ path('edit', {'id': vertical_history.id}) }}">Editer</a>

    {{ include('verticalhistory/_delete_form.html.twig') }}
{% endblock %}
