{% extends 'base.html.twig' %}

{% block title %}VerticalHistory{% endblock %}

{% block body %}
    <h1>VerticalHistory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ verticalHistory.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ verticalHistory.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ verticalHistory.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ verticalHistory.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_verticalHistory') }}">Retour à la liste</a>

    <a href="{{ path('asf_history_edit', {'id': verticalHistory.id}) }}">Editer</a>

    {{ include('asf/verticalhistory/_delete_form.html.twig') }}
{% endblock %}
