{% extends 'asf/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ '/styles/adherant.css' }}" rel="stylesheet">
    <link href="{{ '/styles/footer.css' }}" rel="stylesheet">
    <link href="{{ '/styles/nav.css' }}" rel="stylesheet">
    <link href="{{ '/styles/navAsf.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Carte Adhérent{% endblock %}

{% block main %}
    <div class="intro">
        <div class="container">
            <h1>La carte adhérent</h1>
        </div>
    </div>
    <ul class="container_adherant">
        {% for adherant_image in adherant_images %}
            <div class="adherant_image">
                {% if adherant_image.image == true %}
                    <img src="/uploads/adherant/{{ adherant_image.image }}">
                {% endif %}
            </div>
        {% endfor %}
    </ul>
    <ul class="container_adherant-text">
        {% for adherant_text in adherant_texts %}
            <div class="adherent_text">
                <p>{{ adherant_text.description|nl2br }}</p>
            </div>
        {% endfor %}
    </ul>
    <div class="test">
        <p>Recherche par thèmes</p>
        <div class="categories">
            {% for category in categories %}
                <div><a href="#{{ category.id }}">{{ category.name }}</a></div>
            {% endfor %}
        </div>
    </div>
    <ul class="container_adherant_partenaire">
        {% for category in adherant_partenaires_by_category %}
            <li class="category">{{ category.categoryName }}</li>
            <ul class="container_item_partenaire">
                {% for adherant_partenaire in category.partenaires %}
                <li class="item_partenaire">
                    <div class="partenaire">
                        <div class="partenaire_name" id="{{ adherant_partenaire.partenaireCategory.id }}"></div>
                        <div class="partenaire_image">
                            {% if adherant_partenaire.image == true %}
                                <a href="{{ adherant_partenaire.lien }}" target="_blank"><img src="/uploads/adherant/{{ adherant_partenaire.image }}"></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="partenaire_text"><p>{{ adherant_partenaire.description|nl2br }}</p></div>
                </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}
