{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-container">
        <div class="site-pusher">
            <header>
                {% include "_nav.html.twig" %}
                {{ html_nav|raw }}
            </header>
            <main>
                    {% block stylesheets %}
                        <link href="{{ '/styles/homeSection.css' }}" rel="stylesheet">
                        <link href="{{ '/styles/footer.css' }}" rel="stylesheet">
                        <link href="{{ '/styles/nav.css' }}" rel="stylesheet">
                        <link href="{{ '/styles/navSection.css' }}" rel="stylesheet">
                    {% endblock %}

                    {% block main %}
                        <ul class="container">
                            {% for home_section in home_sections %}
                                <li class="container_item">
                                    <div class="sections">
                                        <div class="section_title"><h2>{{ home_section.section.name }}</h2></div>
                                        <div class="section_image"><a href="{{ path('sectionSport', {id:home_section.section.id}) }}"><img src="/uploads/sections/{{ home_section.image }}"></a></div>
                                        <div class="section_text"><p>{{ home_section.description }}</p></div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
            </main>
        {% include "_footer.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/burgerMenu.js"></script>
{% endblock %}
