{% extends 'base.html.twig' %}

{% block title %}CarouselPartenaire index{% endblock %}

{% block body %}
    <h1>CarouselPartenaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image1</th>
                <th>Image2</th>
                <th>Image3</th>
                <th>Image4</th>
                <th>Image5</th>
                <th>Image6</th>
                <th>Image7</th>
                <th>Image8</th>
                <th>Image9</th>
                <th>Image10</th>
                <th>Image11</th>
                <th>Image12</th>
                <th>Image13</th>
                <th>Image14</th>
                <th>Image15</th>
                <th>Image16</th>
                <th>Image17</th>
                <th>Image18</th>
                <th>Image19</th>
                <th>Image20</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carousel_partenaire in carousel_partenaires %}
            <tr>
                <td>{{ carousel_partenaire.id }}</td>
                <td>{{ carousel_partenaire.image1 }}</td>
                <td>{{ carousel_partenaire.image2 }}</td>
                <td>{{ carousel_partenaire.image3 }}</td>
                <td>{{ carousel_partenaire.image4 }}</td>
                <td>{{ carousel_partenaire.image5 }}</td>
                <td>{{ carousel_partenaire.image6 }}</td>
                <td>{{ carousel_partenaire.image7 }}</td>
                <td>{{ carousel_partenaire.image8 }}</td>
                <td>{{ carousel_partenaire.image9 }}</td>
                <td>{{ carousel_partenaire.image10 }}</td>
                <td>{{ carousel_partenaire.image11 }}</td>
                <td>{{ carousel_partenaire.image12 }}</td>
                <td>{{ carousel_partenaire.image13 }}</td>
                <td>{{ carousel_partenaire.image14 }}</td>
                <td>{{ carousel_partenaire.image15 }}</td>
                <td>{{ carousel_partenaire.image16 }}</td>
                <td>{{ carousel_partenaire.image17 }}</td>
                <td>{{ carousel_partenaire.image18 }}</td>
                <td>{{ carousel_partenaire.image19 }}</td>
                <td>{{ carousel_partenaire.image20 }}</td>
                <td>
                    <a href="{{ path('carousel_partenaire_show', {'id': carousel_partenaire.id}) }}">show</a>
                    <a href="{{ path('carousel_partenaire_edit', {'id': carousel_partenaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('carousel_partenaire_new') }}">Create new</a>
{% endblock %}
