{% block stylesheets %}
    <link href="{{ '/styles/actualitySport.css' }}" rel="stylesheet">
{% endblock %}

{% block main %}
    <h1> Les actualités de la section </h1>
    {# {{ knp_pagination_render(actualities) }} #}

    <div class="containerSport">
        {% for actuality in actualities %}
            <div class="container_actuality">
                <div class="actuality">
                    <div class="actuality_titre"><h2>{{ actuality.titre }}</h2></div>
                    <div class="actuality_date">{{ actuality.date }}</div>
                    <div class="actuality_text">{{ actuality.description|nl2br }}</div>
                    <div class="actuality_text">
                        {% if actuality.description2 == true %}
                            {{ actuality.description2|nl2br }}
                        {% endif %}
                    </div>
                    <div class="actuality_text">
                        {% if actuality.description3 == true %}
                            {{ actuality.description3|nl2br }}
                        {% endif %}
                    </div>
                </div>
                <div class="actuality_image">
                    {% if actuality.image == true %}
                        <a href="/uploads/actuality/{{ actuality.image }}" target="_blank"><img src="/uploads/actuality/{{ actuality.image }}"></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {# {{ knp_pagination_render(actualities) }} #}

{% endblock %}
