{% extends 'section/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ '/styles/homeSection.css' }}" rel="stylesheet">
    <link href="{{ '/styles/footer.css' }}" rel="stylesheet">
    <link href="{{ '/styles/nav.css' }}" rel="stylesheet">
    <link href="{{ '/styles/navSection.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Sections Sportives{% endblock %}

{% block main %}
    <ul class="container">
        {% for section in sections %}
            <li class="container_item">
                <div class="sections">
                    <div class="section_title"><h2>{{ section.titre }}</h2></div>
                    <div class="section_image"><a href="{{ path('section_sport', {id:section.id}) }}"><img src="/uploads/sections/{{ section.image }}"></a></div>
                    <div class="section_text"><h2>{{ section.description }}</h2></div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
