{% extends 'base.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block body %}
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Administration</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Retour au site</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{{ path('index') }}">Accueil</a>
                        </li>
                        <li>
                            <a href="#">Actualités</a>
                        </li>
                        <li>
                            <a href="{{ path('asf') }}">Alerte Sportive de Fondettes</a>
                        </li>
                        <li>
                            <a href="{{ path('section') }}">Les Sections Sportives</a>
                        </li>
                        <li>
                            <a href="#">Nos partenaires</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#homeSubmenuhome" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Editer la page d'accueil</a>
                    <ul class="collapse list-unstyled" id="homeSubmenuhome">
                        <li>
                            <a href="{{ path('admin_carousel_history') }}">Editer le carousel Histoire</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_carousel_section') }}">Editer le carousel Sections Sportives</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_carousel_partenaire') }}">Editer le carousel Partenaires</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Editer l'actualité</a>
                </li>
                <li class="active">
                    <a href="#homeSubmenuasf" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Editer l'ASF</a>
                    <ul class="collapse list-unstyled" id="homeSubmenuasf">
                        <li>
                            <a href="#">L'ASF</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_verticalHistory') }}">Editer histoire vertical</a>
                        </li>
                        <li>
                            <a href="#">Editer toute l'histoire</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_dirigeants') }}">Editer Bureau ASF</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_salaries') }}">Editer salariés ASF</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_adherant') }}">Editer carte adhérent</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_contact_horaire') }}">Editer les Horaires</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#homeSubmenusection" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Editer les sections sportives</a>
                    <ul class="collapse list-unstyled" id="homeSubmenusection">
                        <li>
                            <a href="{{ path('admin_homeSection') }}">Les sections sportives</a>
                        </li>
                        <li>
                            <a href="#">Editer l'Athlétisme</a>
                        </li>
                        <li>
                            <a href="#">Editer le Badminton</a>
                        </li>
                        <li>
                            <a href="#">Editer le Basketball</a>
                        </li>
                        <li>
                            <a href="#">Editer l'Ecole de sport</a>
                        </li>
                        <li>
                            <a href="#">Editer le Football</a>
                        </li>
                        <li>
                            <a href="#">Editer le Judo</a>
                        </li>
                        <li>
                            <a href="#">Editer le Karaté Do</a>
                        </li>
                        <li>
                            <a href="#">Editer la Natation</a>
                        </li>
                        <li>
                            <a href="#">Editer la Pétanque</a>
                        </li>
                        <li>
                            <a href="#">Editer le Squash</a>
                        </li>
                        <li>
                            <a href="#">Editer le Tennis</a>
                        </li>
                        <li>
                            <a href="#">Editer le Tennis de table</a>
                        </li>
                        <li>
                            <a href="#">Editer le VTT</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Editer Nos Partenaires</a>
                </li>
                <li>
                    <a href="{{ path('admin_dirigeants_post') }}">Ajouter un poste pour le bureau</a>
                </li>
                <li>
                    <a href="{{ path('admin_section_salary') }}">Ajouter une section pour les Salariés</a>
                </li>
            </ul>
            <li>
                <a href="#">Profil</a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>
        </nav>
        <main>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% block main %}{% endblock %}
        </main>
    </div>
{% endblock %}
