{% extends 'base.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block body %}
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Administration</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Retour au site</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{{ path('index') }}">Accueil</a>
                        </li>
                        <li>
                            <a href="{{ path('actuality') }}">Actualités</a>
                        </li>
                        <li>
                            <a href="{{ path('asf') }}">Alerte Sportive de Fondettes</a>
                        </li>
                        <li>
                            <a href="{{ path('home_section') }}">Les Sections Sportives</a>
                        </li>
                        <li>
                            <a href="{{ path('partenaire') }}">Nos partenaires</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#homeSubmenuhome" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Editer la page d'accueil</a>
                    <ul class="collapse list-unstyled" id="homeSubmenuhome">
                        <li>
                            <a href="{{ path('admin_carousel_history') }}">Editer le carousel Histoire</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_carousel_section') }}">Editer le carousel Sections Sportives</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_carousel_partenaire') }}">Editer le carousel Partenaires</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('admin_actuality') }}">Editer l'actualité</a>
                </li>
                <li class="active">
                    <a href="#homeSubmenuasf" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Editer l'ASF</a>
                    <ul class="collapse list-unstyled" id="homeSubmenuasf">
                        <li>
                            <a href="{{ path('admin_homeAsf') }}">L'ASF</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_verticalHistory') }}">Editer histoire vertical</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_history') }}">Editer toute l'histoire</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_dirigeants') }}">Editer Bureau ASF</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_salaries') }}">Editer salariés ASF</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_adherant') }}">Editer carte adhérent</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_contact_horaire') }}">Editer les Horaires</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#homeSubmenusection" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Editer les sections sportives</a>
                    <ul class="collapse list-unstyled" id="homeSubmenusection">
                        <li>
                            <a href="{{ path('admin_homeSection') }}">Les sections sportives</a>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionAthletisme" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                L'Athlétisme</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionAthletisme">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer l'Athlétisme</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour l'Athlétisme</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionBadminton" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                Le Badminton</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionBadminton">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer le Badminton</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour le Badminton</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionBasketball" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                Le Basketball</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionBasketball">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer le Basketball</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour le Basketball</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionEcole" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                L'Ecole de sport</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionEcole">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer l'Ecole de sport</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour l'Ecole de sport</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionFootball" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                Le Football</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionFootball">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer le Football</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour le Football</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionJudo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                Le Judo</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionJudo">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer le Judo</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour le Judo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionKarate" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                Le Karaté Do</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionKarate">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer le Karaté Do</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour le Karaté Do</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionNatation" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                La Natation</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionNatation">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer la Natation</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour la Natation</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionPetanque" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                La Pétanque</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionPetanque">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer la Pétanque</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour la Pétanque</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionSquash" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                Le squash</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionSquash">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer le Squash</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour le Squash</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionTennis" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                Le Tennis</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionTennis">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer le Tennis</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour le Tennis</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionTennistable" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                Le Tennis de table</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionTennistable">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer le Tennis de table</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour le Tennis de table</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionVTT" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                Le VTT</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionVTT">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer le VTT</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie pour le VTT</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#homeSubmenusectionNew" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                Nouvelle section</a>
                            <ul class="collapse list-unstyled" id="homeSubmenusectionNew">
                                <li>
                                    <a href="{{ path('admin_section_sport') }}">Editer une nouvelle section sportive</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_planning') }}">Editer le planning d'une nouvelle section sportive</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_category') }}">Ajouter une catégorie</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('admin_partenaire') }}">Editer Nos Partenaires</a>
                </li>
                <li>
                    <a href="{{ path('admin_cgu') }}">Editer les conditions du site</a>
                </li>
                <li class="active">
                    <a href="#add" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ajouter</a>
                    <ul class="collapse list-unstyled" id="add">
                        <li>
                            <a href="{{ path('admin_dirigeants_post') }}">Ajouter un poste pour le bureau</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_section') }}">Ajouter une section</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_president') }}">Ajouter un(e) président(e)</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_partenaire_category') }}">Ajouter une categorie pour carte partenaire</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_date') }}">Ajouter une date d'histoire</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_cgu_category') }}">Ajouter un article et son intitulé</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <li>
                <a href="#">Profil</a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>
        </nav>
        <main>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% block main %}{% endblock %}
        </main>
    </div>
{% endblock %}
