{% extends 'base.html.twig' %}

{% block title %}PartenaireCategory index{% endblock %}

{% block body %}
    <h1>PartenaireCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partenaire_category in partenaire_categories %}
            <tr>
                <td>{{ partenaire_category.id }}</td>
                <td>{{ partenaire_category.name }}</td>
                <td>
                    <a href="{{ path('partenaire_category_show', {'id': partenaire_category.id}) }}">show</a>
                    <a href="{{ path('partenaire_category_edit', {'id': partenaire_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('partenaire_category_new') }}">Create new</a>
{% endblock %}
