{% extends 'base.html.twig' %}

{% block title %}BasketballPlanning index{% endblock %}

{% block body %}
    <h1>BasketballPlanning index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
                <th>Horaire</th>
                <th>Catégorie</th>
                <th>Lieu</th>
                <th>Cotisation</th>
            </tr>
        </thead>
        <tbody>
        {% for section_planning in section_plannings %}
            <tr>
                <td>{{ section_planning.id }}</td>
                <td>{{ section_planning.day }}</td>
                <td>{{ section_planning.time }}</td>
                <td>
                    {% for category in section_planning.sectionCategory %}
                        {{ category.name }}
                    {% endfor %}
                </td>
                <td>{{ section_planning.lieu }}</td>
                <td>{{ section_planning.cotisation }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
