{% extends 'base.html.twig' %}

{% block title %}BasketballPlanning{% endblock %}

{% block body %}
    <h1>BasketballPlanning</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ section_planning.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ section_planning.day }}</td>
            </tr>
            <tr>
                <th>Horaire</th>
                <td>{{ section_planning.time }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ section_planning.lieu }}</td>
            </tr>
            <tr>
                <th>Cotisation</th>
                <td>{{ section_planning.cotisation }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ section_planning.sectionCategory.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_section_planning') }}">Retour à la liste</a>

    <a href="{{ path('section_planning_edit', {'id': section_planning.id}) }}">Editer</a>

    {{ include('section/section_planning/_delete_form.html.twig') }}
{% endblock %}
