{% extends 'partenaire/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ '/styles/partenaire.css' }}" rel="stylesheet">
    <link href="{{ '/styles/footer.css' }}" rel="stylesheet">
    <link href="{{ '/styles/nav.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Partenaires{% endblock %}

{% block main %}
    <h1>Les Partenaires de l'ASF</h1>

    <ul class="container">
        {% for partenaire in partenaires %}
            <li class="container_item">
                <div class="partenaire">
                    <div class="partenaire_image">
                        {% if partenaire.image == true %}
                            <a href="{{ partenaire.lien }}" target="_blank"><img src="/uploads/partenaire/{{ partenaire.image }}"></a>
                        {% endif %}
                    </div>
                    <div class="partenaire_text">
                        {% if partenaire.description == true %}
                            <h3>{{ partenaire.description }}</h3>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
