{% extends 'asf/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ '/styles/history.css' }}" rel="stylesheet">
    <link href="{{ '/styles/footer.css' }}" rel="stylesheet">
    <link href="{{ '/styles/nav.css' }}" rel="stylesheet">
    <link href="{{ '/styles/navAsf.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}L'histoire de l'ASF{% endblock %}

{% block main %}
    <section class="intro">
        <div class="container">
            <h1>Toute l'histoire de l'ASF</h1>
        </div>
    </section>
    <section>
        {% for key, history in histories %}
            <div class="history" id="{{ key ~ history.date.date }}">
                <p>{{ history.description }}</p>
            </div>
            {% if history.image == true %}
                <div class="history-image">
                    <img src="/uploads/histoire/{{ history.image }}">
                </div>
            {% endif %}
        {% endfor %}
    </section>
    <section class="president">
        <h1>Les différents Présidents de l’ASF s’étant succédés :</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Prénom et Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for president in presidents %}
                <tr>
                    <td class="date">{{ president.date }}</td>
                    <td class="firstname">{{ president.firstname }} {{ president.lastname }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
