{% extends 'asf/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ '/styles/homeAsf.css' }}" rel="stylesheet">
    <link href="{{ '/styles/footer.css' }}" rel="stylesheet">
    <link href="{{ '/styles/nav.css' }}" rel="stylesheet">
    <link href="{{ '/styles/navAsf.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Alerte Sportif de Fondettes{% endblock %}

{% block main %}
    {% for home_asf in home_asfs %}
        <div class="history">
            <div class="image-1">
                {% if home_asf.image1 == true %}
                    <img src="/uploads/homeAsf/{{ home_asf.image1 }}">
                {% endif %}
            </div>
            <div class="container">
                <div class="text-1">
                    <a href="{{ path('asf_history') }}" class="about">L'histoire de l'ASF...</a>
                </div>
            </div>
        </div>
        <div class="dirigeant">
            <div class="image-2">
                {% if home_asf.image2 == true %}
                    <img src="/uploads/homeAsf/{{ home_asf.image2 }}">
                {% endif %}
            </div>
            <div class="container">
                <div class="text-2">
                    <a href="{{ path('asf_dirigeants') }}" class="about">Le bureau de l'omnisports...</a>
                </div>
            </div>
        </div>
        <div class="salary">
            <div class="image-3">
                {% if home_asf.image3 == true %}
                    <img src="/uploads/homeAsf/{{ home_asf.image3 }}">
                {% endif %}
            </div>
            <div class="container">
                <div class="text-3">
                    <a href="{{ path('asf_salaries') }}" class="about">Les salariés de l'omnisports...</a>
                </div>
            </div>
        </div>
        <div class="adherant">
            <div class="image-4">
                {% if home_asf.image4 == true %}
                    <img src="/uploads/homeAsf/{{ home_asf.image4 }}">
                {% endif %}
            </div>
            <div class="container">
                <div class="text-4">
                    <a href="{{ path('asf_adherant') }}" class="about">Les avantages de la carte adhérent ASF...</a>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="image-5">
                {% if home_asf.image5 == true %}
                    <img src="/uploads/homeAsf/{{ home_asf.image5 }}">
                {% endif %}
            </div>
            <div class="container">
                <div class="text-5">
                    <a href="{{ path('asf_contact') }}" class="about">Pour nous contactez...</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
