<div class="wrapper">
    {{ form_start(form) }}
    <div class="form">
        <h1>Ajouter/Editer une nouvelle actualité</h1>
        <h4>* Champs Obligatoires</h4>
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Ajouter') }}</button>
        <a href="{{ path('admin_actuality') }}">Retour à la liste</a>
    </div>
    {{ form_end(form) }}
</div>
