{% extends 'base.html.twig' %}

{% block title %}Actuality{% endblock %}

{% block body %}
    <h1>Actuality</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actuality.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ actuality.titre }}</td>
            </tr>
            <tr>
                <th>1er paragraphe</th>
                <td>{{ actuality.description }}</td>
            </tr>
            <tr>
                <th>2ème paragraphe</th>
                <td>{{ actuality.description2 }}</td>
            </tr>
            <tr>
                <th>3ème paragraphe</th>
                <td>{{ actuality.description3 }}</td>
            </tr>
            <tr>
                <th>4ème paragraphe</th>
                <td>{{ actuality.description4 }}</td>
            </tr>
            <tr>
                <th>5ème paragraphe</th>
                <td>{{ actuality.description5 }}</td>
            </tr>
            <tr>
                <th>6ème paragraphe</th>
                <td>{{ actuality.description6 }}</td>
            </tr>
            <tr>
                <th>7ème paragraphe</th>
                <td>{{ actuality.description7 }}</td>
            </tr>
            <tr>
                <th>8ème paragraphe</th>
                <td>{{ actuality.description8 }}</td>
            </tr>
            <tr>
                <th>9ème paragraphe</th>
                <td>{{ actuality.description9 }}</td>
            </tr>
            <tr>
                <th>10ème paragraphe</th>
                <td>{{ actuality.description10 }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ actuality.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_actuality') }}">Retour à la liste</a>

    <a href="{{ path('actuality_edit', {'id': actuality.id}) }}">Editer</a>

    {{ include('actuality/_delete_form.html.twig') }}
{% endblock %}
