<nav class="nav_barAsf">
    <a href="{{ path('asf_history') }}">Histoire</a>
    <a href="{{ path('asf_dirigeants') }}">Dirigeants ASF</a>
    <a href="{{ path('asf_salaries') }}">Salariés ASF</a>
    <a href="{{ path('asf_adherant') }}">Carte adhérent</a>
    <a href="{{ path('asf_contact') }}">Contact</a>
</nav>
