<nav class="nav_bar">
    <a href="{{ path('index') }}"><img src="{{ ('/images/Logo ASF sans fond.png') }}" class="image-home" alt="logo home" height="150" width="200" /></a>
    <a href="{{ path('actuality') }}">Actualités</a>
    <a href="{{ path('asf') }}">Alerte Sportive de Fondettes</a>
    <a href="{{ path('home_section') }}">Les Sections Sportives</a>
    <a href="{{ path('partenaire') }}">Nos Partenaires</a>
</nav>
