{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

<div class="openButton-ASF" id="openButton-ASF">
    {# <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div> #}
    <div class="bar4"> ---> </div>
    <div class="bar5"> ASF </div>
    <div class="bar6"> ---> </div>
</div>
<nav class="menu-Asf">
    <a class="link{{ currentPath == path('asf_history') ? ' active' : '' }}" href="{{ path('asf_history') }}">Histoire</a>
    <a class="link{{ currentPath == path('asf_dirigeants') ? ' active' : '' }}" href="{{ path('asf_dirigeants') }}">Bureau ASF</a>
    <a class="link{{ currentPath == path('asf_salaries') ? ' active' : '' }}" href="{{ path('asf_salaries') }}">Salariés ASF</a>
    <a class="link{{ currentPath == path('asf_adherant') ? ' active' : '' }}" href="{{ path('asf_adherant') }}">Carte adhérent</a>
    <a class="link{{ currentPath == path('asf_contact') ? ' active' : '' }}" href="{{ path('asf_contact') }}">Contact</a>
</nav>
