<div class="nav_bar">
    <a href="{{ path('index') }}"><img src="{{ ('/images/Logo ASF sans fond.png') }}" class="image-home" alt="logo home" height="150" width="200" /></a>
    <div class="openButton">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <nav class="sideNav">
        <a href="javascript:void(0)" class="closeButton">&times;</a>
        <ul class="nav">
            <li class="navLink"><a class="link" href="{{ path('actuality') }}">Actualités</a></li>
            <li class="navLink"><a class="link" href="{{ path('asf') }}">AS Fondettes</a></li>
            <li class="navLink"><a class="link" href="{{ path('home_section') }}">Les Sections</a></li>
            <li class="navLink"><a class="link" href="{{ path('partenaire') }}">Nos Partenaires</a></li>
        </ul>
    </nav>
</div>
