{% extends 'asf/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ '/styles/salaries.css' }}" rel="stylesheet">
    <link href="{{ '/styles/footer.css' }}" rel="stylesheet">
    <link href="{{ '/styles/nav.css' }}" rel="stylesheet">
    <link href="{{ '/styles/navAsf.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Salaries ASF{% endblock %}

{% block main %}
    <div class="intro">
        <div class="container">
            <h1>Salariés ASF</h1>
        </div>
    </div>
    <ul class="container_salary">
        {% for salary in salaries %}
            <li class="container_item">
                <div class="salary">
                    <div class="salary_info">
                        <div><h2>{{ salary.firstname }}</h2></div>
                        <div><h2>{{ salary.lastname }}</h2></div>
                    </div>
                    <div class="salary_image">
                        {% if salary.image == true %}
                            <img src="/uploads/salaries/{{ salary.image }}">
                        {% endif %}
                    </div>
                    <div class="salary_section">
                        <div class="A"><h4>{{ salary.sectionSalary.name }}</h4></div>
                        <div class="B">
                            {% if salary.sectionSalary.name == true %}
                                <h4>{{ salary.sectionSalary.name }}</h4>
                            {% endif %}
                        </div>
                        <div class="C">
                            {% if salary.sectionSalary.name == true %}
                                <h4>{{ salary.sectionSalary.name }}</h4>
                            {% endif %}
                        </div>
                        <div class="D">
                            {% if salary.sectionSalary.name == true %}
                                <h4>{{ salary.sectionSalary.name }}</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
